.search-modal {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  z-index: 2;
  background-color: map-get($colors, "white");
  box-shadow: 0px 8px 8px rgba(34, 41, 42, 0.08);
  pointer-events: none;
  opacity: 0;
  transform: translateY(20px);
  padding-block: 46px;
  transition: $transition;
  @media (max-width: map-get($media, "lg")) {
    padding-block: 40px;
  }
  @media (max-width: map-get($media, "sm")) {
    padding-block: 32px;
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  ul {
    li {
      font-weight: 300;
      + li {
        margin-top: 9px;
      }
      a {
        color: map-get($colors, "black-100");
        &:hover {
          color: map-get($colors, "accent");
        }
      }
    }
  }

  &__row {
    justify-content: space-between;
  }

  &__form-cover {
    position: relative;
  }

  &__history {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: map-get($colors, "white");
    padding-block: 12px;
    z-index: 1;
  }

  &__block {
    padding-top: 48px;
    @media (max-width: map-get($media, "lg")) {
      padding-top: 0;
    }
  }

  &__block-list {
    margin-top: 12px;
    @media (max-width: map-get($media, "sm")) {
      margin-top: 24px;
    }
    h6 {
      margin-bottom: 12px;
    }
    .email {
      a {
        text-decoration: underline;
      }
    }
  }

  .search {
    position: relative;
    font-size: 20px;
    @media (max-width: map-get($media, "md")) {
      font-size: 16px;
    }
    button {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      height: 100%;
      width: 24px;
      @include btn-icon;
    }
    input {
      padding-right: 32px;
    }
  }
}
